{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Findmycampaign</title>
        <link
            rel="shortcut icon"
            href="{% static 'assets/img/logo_nav.png' %}"
            type="image/x-icon"
        />
    
        <!-- App css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bs-default-stylesheet">
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" id="app-default-stylesheet">        
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- icons -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    </head>

    <body class="primary">

        <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-form">
                            <h4>パスワード再設定</h4>
                            <p>安全に保管</p>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}                                 
                                
                                <button class="btn btn-primary btn-user btn-block" type="submit">新しいパスワードの保存</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#div_id_new_password1").find('input').attr('placeholder', 'New Password');
		$("#div_id_new_password1").find('input').focus();
		$("#div_id_new_password2").find('input').attr('placeholder', 'Confirm New Password');
	})
</script>