{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Findmycampaign</title>
        <link
            rel="shortcut icon"
            href="{% static 'assets/img/logo_nav.png' %}"
            type="image/x-icon"
        />
    
        <!-- App css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bs-default-stylesheet">
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" id="app-default-stylesheet">        
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- icons -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    </head>

    <body class="primary">

        <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-form">
                            <h4>メール送信完了!</h4>
                            <p>パスワード再設定用のURLをご入力のメールアドレスに送信しました。<br>
                              記載された内容に従って、パスワードの再設定を行なってください。</p>
                            <p>メールが届かない場合は以下の場合が考えられます</p>
                            <p>・迷惑メールフォルダに入ってしまっている場合</p>
                            <p>・メールアドレスが間違っている場合</p>
                            <p>・メールアドレスが登録されていない場合</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>

</html>