{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Findmycampaign</title>
        <link
            rel="shortcut icon"
            href="{% static 'assets/img/logo_nav.png' %}"
            type="image/x-icon"
        />
    
        <!-- App css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bs-default-stylesheet">
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" id="app-default-stylesheet">        
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <!-- icons -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    </head>

    <body class="primary">

        <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-form">
                            <h4>パスワードを忘れた場合</h4>
                            <p>ご登録いただいたメールアドレスを入力してください。
                              メールアドレス宛に、パスワード変更ページのURLが記載されたメールを送信します。</p>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}                                 
                                
                                <input class="btn btn-primary btn-user btn-block" type="submit" value="{% trans '送信' %}" />
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>

</html>