{% extends "base_lp.html" %}
{% load sys_template %}
{% load static %}
{% block content %}      
<div class="container">
    <div class="pocker-wrapper">
        <div class="header-media">
            <img src="{% with campaign|get_creative_img as img %}{%if img%}{{img.url}}{%endif%}{%endwith%}" alt="" class="campaign-image">
        </div>
        <div class="pocker-body mb-4">                     
            <div class="title-wrapper px-16 mt-4">
                <h1 class="fs-20 fw-bold">{{campaign.title}}</h1>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <a href="{%url 'accounts:profile-publish' pk=user.username %}">
                    <img width="60px" src="{%if user.avatar%}{{user.avatar.url}}{%else%}{%static 'images/man.png'%}{%endif%}" alt="">
                    <div class="owner-brand">{%if user.profile.owner_name%}{{user.profile.owner_name}}{%else%}未登録{%endif%}</div>
                </a>
            </div>
            <div class="period text-center py-2">
                {{campaign.sdate}}~{{campaign.edate}}まで
            </div>
            <div class="pocker-info-wrapper px-16">
                <div class="pocker-info mt-4 border border-l-0 border-r-0 py-2 d-flex flex-column align-items-center">
                    <a href="#" class="info-trigger trigger" data-element="info-content">
                        応募方法
                    </a>                        
                </div>
                <div id="info-content" class="info-content closed py-2">
                    <ul>
                    <li>
                    {%with campaign|get_action_by_campaign as campaignactions%}
                    {%if campaignactions %}
                    <p>{{campaignactions.action_name}}が必要です</p>                    
                    <div class="actions px-16">
                        <div id="toggle-1">
                            {%if campaignactions.action_name.name == 'リツイート' %}
                            <a href="{{campaignactions.retweet_url}}" target="_blank">
                                <div class="btn btn-square c-twitter d-flex justify-content-between align-items-center">                                    
                                    <div class="title-wrapper d-flex align-items-center">
                                        <img src="{%static 'images/twitter1.png'%}" width="20" height="20" alt="">
                                        <div class="d-flex flex-column align-items-start ml-1">
                                            <span class="title">{{campaignactions.action_name}}</span>                                            
                                        </div>
                                    </div>
                                    <div>
                                        <span class="action-check">+1</span>                                    
                                    </div>                            
                                </div>
                            </a>
                            {%elif campaignactions.action_name.name == 'フォロー' %}
                            <a href="https://twitter.com/{{campaignactions.screen_name}}" target="_blank">
                                <div class="btn btn-square c-twitter d-flex justify-content-between align-items-center">                                    
                                    <div class="title-wrapper d-flex align-items-center">
                                        <img src="{%static 'images/twitter1.png'%}" width="20" height="20" alt="">
                                        <div class="d-flex flex-column align-items-start ml-1">
                                            <span class="title">{{campaignactions.action_name}}</span>
                                            <span class="target fs-13">@{{campaignactions.screen_name}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="action-check">+1</span>                                    
                                    </div>                            
                                </div>
                            </a>
                        </div>                    
                    </div>
                    {%endif%}                        
                    {%endif%}
                    {%endwith%}
                    </li>
                    <li>
                        <p>動画視聴</p> 
                    </li>
                    </ul>
                </div>
                
            </div>
            <div class="gifts py-3 px-16 py-30">
                <label>当選ギフト</label>
                {%with campaign|get_digitalgift_by_campaign as digitalgift%}
                {%if digitalgift%}
                <div class="gift d-flex gap-2 align-items-start">
                    <img src="{%if digitalgift.image%}{{digitalgift.image.url}}{%else%}{%static 'images/gifts/code.png'%}{%endif%}" width="60" height="60" class="gift-icon">
                    <div class="content">
                        <p class="name fs-14 fw-bold mb-0">{{digitalgift.title}}({{digitalgift.codetype}})</p>
                        <p class="number fs-13 fc-9b">当選者数:{{digitalgift.candidate_num}}名様</p>
                    </div>
                </div>    
                {%endif%}            
                {%endwith%}
            </div>
            
        
            {%with campaign|get_action_by_campaign as campaignactions%}
            {%if campaignactions %}
            <div class="pocker-draw px-16 py-30">
            {%if campaign.is_end%}
            <button type="button" class="btn btn-square" onclick="applicant(this);" data-id="{{campaign.id}}" data-action="{{campaignactions.id}}" disabled>
                <span class="content-wrapper">
                    終了
                </span>
            </button>
            {%else%}
            {%if applied %}
            <button type="button" class="btn c-red btn-square pop-up-trigger" onclick="applicant(this);" data-id="{{campaign.id}}" data-action="{{campaignactions.id}}" disabled>
                <span class="content-wrapper">
                    抽選した
                </span>
            </button>
            {%else%}
            <button type="button" class="btn c-red btn-square pop-up-trigger" onclick="applicant(this);" data-id="{{campaign.id}}" data-action="{{campaignactions.id}}">
                <span class="content-wrapper">
                    抽選する
                </span>
            </button>
            {%endif%}
            </div>
            {%endif%}
            {%endif%}
            {%endwith%}
            <div class="pocker-entry px-16 py-30">
                <div class="entry-title">
                    <b>エントリーフォーム</b>
                    <div class="entry-subtitle">1エントリーごとに1回抽選できます</div>
                </div>
            </div>
            <div class="tos text-center fs-10 my-4">
                上のボタンをタップすると、<a href="/legal/">利用規約</a>・<a href="/legal/">プライバシーポリシー</a>・キャンペーン規約に同意したことになります。
            </div>
            <div class="login-bar-wrapper">
                <div class="login-bar d-flex justify-content-center align-items-center">
                    {% if request.user.is_authenticated %}
                    <div class="login-title mr-1"><span>{{request.user.username}}</span></div>
                    <div class="login-methods">
                        <div class="login-method">                                
                            <img src="{%static 'images/twitter1.png'%}" class="ml-1">  
                            <a href="{%url 'accounts:profile'%}" class="unauth"><span class="fs-10">設定変更</span></a>
                            <a href="{%url 'accounts:account_logout'%}" class="unauth"><span class="fs-10">ログアウト</span></a>                             
                        </div>
                    </div>
                    {%else%}                        
                    <div class="login-methods">
                        <div class="login-method">
                            <a href="{%url 'accounts:twitter_login'%}" class="unauth">ログイン
                                <img src="{%static 'images/twitter1.png'%}" class="ml-1">
                            </a>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
            
        </div>
    
        <div class="campaign-term">
            <div class="term-trigger text-center py-2 fs-16 fw-bold">キャンペーン規約</div>
            <div id="terms-wrapper">
                <p>キャンペーンの応募</p>
                <p>応募者は、本サービスにおいて、当社の定める方法により、作成者の作成したキャンペーンに応募することができるものとします。<br>
                    応募者は、当社がキャンペーンを主催するものではないことを認識し、了承するものとします。また、応募者が応募したキャンペーンに関連して、応募者と作成者その他の第三者との間において生じた取引、連絡、紛争等については、応募者の責任において処理及び解決するものとし、当社の責に帰すべき場合を除き、当社はかかる事項について一切責任を負いません。<br>
                    応募者は、応募者がキャンペーンに応募する際、当社が外部SNSサービス上で応募者に代わって、作成者のアカウントのフォローその他の当社所定の取扱いを行うことを了承するものとします。<br>
                    応募者は、本規約又は応募者が作成者の定めたキャンペーンの条件に違反した場合、当社が当該応募者に対して抽選対象からの除外その他の取扱いを行うことができることを認識し、了承するものとします。この場合、当社は当該取扱いに関して応募者に生じた損害についての責任を一切負わないものとします。<br>
                    応募者は、キャンペーンに応募するにあたり、以下の行為をしてはなりません。<br>
                    同一人が複数のアカウントを作成して複数回応募する行為<br>
                    プレゼントの転売等を目的として応募する行為<br>
                    その他、キャンペーンのプレゼントを不正に取得し、又はしようとする行為<br>

                </p>
                <p>当選者の選出</p>
                <p>キャンペーン終了後、当社所定の期間内に、当社は、当該キャンペーンの応募者の中から当社所定の条件及び作成者の設定した条件を満たした者をプレゼントの当選者として、抽選その他の当社所定の方法により選出するものとします。
                    <br>
                    応募者は、応募者の応募したキャンペーンについて、作成者のアカウント又は投稿の削除その他の当社の責に帰すべき事由以外の理由により終了した場合に関し、当社が一切の責任を負わないことを認識し、了承するものとします。<br>

                </p>
                <p>プレゼントの付与</p>
                <p>当社は、前条に基づき選出された当選者に対して、作成者の委託を受けて、当社所定の期間内に、当社所定の方法により、プレゼントを付与するものとします。<br>
                    当選者は、外部SNSサービスのダイレクトメールを開放していない等当社所定の条件を満たしていないためにプレゼントを受領できなかった場合に関し、当社が一切の責任を負わないことを認識し、了承するものとします。<br>
                    当選者は、プレゼントの取扱いについて、当該プレゼントを発行又は管理する者の利用規約その他の規定を遵守するものとし、当該規定に基づきプレゼントが失効その他の事由により利用できなくなったとしても、当社は一切の責任を負わないことを認識し、了承するものとします。また、当選者は、プレゼントが作成者の委託を受けて当社から当選者に付与されるものであって、当社はプレゼントの付与の直接の当事者ではなく、プレゼントの品質その他の事項につき、当社は一切の責任を負わないことを認識し、了承するものとします。
                </p>
                    <button class="terms-close-btn">閉じる</button>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
{% block extra_js %}

<script type="text/javascript">
    const selectorAll = e =>  document.querySelectorAll( e);
    const selector = e => document.querySelector(e);

    const termTriggerBtn = selector('.term-trigger');
    const termCloseBtn = selector('.terms-close-btn');

    const tl = gsap.timeline();

    termTriggerBtn.addEventListener("click", function(){
        
        tl
        .to( "#terms-wrapper", {
            opacity: 1,
            height: "auto",
            duration: 0.3,
            display: "block"
        } )
        .to("#terms-wrapper p",{
            opacity: 1,
            height: "auto",
            duration: 0.3,
            display: "block"
        })
        .to(termCloseBtn, {
            opacity: 1,
            height: "auto",
            duration: 0.3,
            display: "block"
        })

        
    })

    termCloseBtn.addEventListener( "click", function(){
        tl
        .to( "#terms-wrapper", {
            opacity: 0,
            height: 0,
            duration: 0.3,
            display: "none"
        } )
        .to("#terms-wrapper p",{
            opacity: 0,
            height: 0,
            duration: 0.3,
            display: "none"
        })
        .to(termCloseBtn, {
            opacity: 0,
            height: 0,
            duration: 0.3,
            display: "none"
        })
    } )

    const triggers = document.querySelectorAll('.trigger');

    triggers.forEach( tr => {
        const element = tr.getAttribute('data-element');

        let open = false;

        tr.addEventListener( 'click', (e)=>{
            e.preventDefault();

            //e.target.parentNode.querySelector('.arrow').classList.toggle("rotate");

            if( !open ){

                gsap.to( `#${element}`, {
                    opacity: 1,
                    height: 'auto',
                    duration: 0.5
                } )

                open = true;

            }else{

                gsap.to( `#${element}`, {
                    opacity: 0,
                    height: 0,
                    duration: 0.5
                } )

                open = false;

            }

        } )

    } )

    const popupTriggers = document.querySelectorAll('.pop-up-trigger');
    const popups = document.querySelectorAll(".pop-up");

    popupTriggers.forEach( trigger => {
        trigger.addEventListener('click', function(){
            const popup = this.getAttribute('data-target');

            popups.forEach( el => {
                if( el.classList.contains(popup) ){
                    el.classList.add('show');
                    el.querySelector('.close').addEventListener( 'click', ()=>{
                        el.classList.remove('show');
                    } )
                }
            } )

        })
    } )
</script>

<script type="text/javascript">
    let applicant = button =>{
        var campaign_id = button.getAttribute('data-id');
        var campaign_action = button.getAttribute('data-action');
        console.log(campaign_id); 
        if(campaign_id == ''){
            alert("キャンペーンが存在しません！")
        }else{
            $.ajax({
                url : '{% url 'dashboard:applicant' %}',
                data:{
                    campaign_id: campaign_id,   
                    campaign_action:campaign_action,                 
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                type:'POST',
                success:function(data){
                    console.log(data.status);         
                    //window.location.replace("/campaign/"+campaign_id+'/');
                    if(data.status=='login'){
                        window.location.replace("/accounts/twitter_login/?next=/applicant/?campaign_id="+campaign_id);
                    }else if(data.status=='twitter'){
                        console.log(data.status);
                        window.location.replace("/accounts/twitter_login/?next=/applicant/?campaign_id="+campaign_id);
                    }
                }
            });
        }
    }
</script>  
{% endblock %}
