{% extends "base_lp.html" %}
{% load sys_template %}
{% load static %}
{% block content %}      
<div class="container">
    <div class="pocker-wrapper">
        <div class="header-media">
            <img src="{% with campaign|get_creative_img as img %}{%if img%}{{img.url}}{%endif%}{%endwith%}" alt="" class="campaign-image">
        </div>
        <div class="pocker-body mb-4">                     
            <div class="title-wrapper px-16 mt-4">
                <h1 class="fs-20 fw-bold">{{campaign.title}}</h1>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <a href="{%url 'accounts:profile-publish' pk=user.username %}">
                    <img width="60px" src="{%if user.avatar%}{{user.avatar.url}}{%else%}{%static 'images/man.png'%}{%endif%}" alt="">
                    <div class="owner-brand">{%if user.profile.owner_name%}{{user.profile.owner_name}}{%else%}未登録{%endif%}</div>
                </a>
            </div>
            <div class="period text-center py-2">
                {{campaign.sdate}}~{{campaign.edate}}まで
            </div>
            <div class="pocker-info-wrapper px-16">
                <div class="pocker-info mt-4 border border-l-0 border-r-0 py-2 d-flex flex-column align-items-center">
                    <a href="#" class="info-trigger trigger" data-element="info-content">
                        応募方法
                    </a>                        
                </div>
                <div id="info-content" class="info-content closed py-2">
                    <ul>
                    <li>
                    {%with campaign|get_action_by_campaign as campaignactions%}
                    {%if campaignactions %}
                    <p>{{campaignactions.action_name}}が必要です</p>                    
                    <div class="actions px-16">
                        <div id="toggle-1">
                            {%if campaignactions.action_name.name == 'リツイート' %}
                            <a href="{{campaignactions.retweet_url}}" target="_blank">
                                <div class="btn btn-square c-twitter d-flex justify-content-between align-items-center">                                    
                                    <div class="title-wrapper d-flex align-items-center">
                                        <img src="{%static 'images/twitter1.png'%}" width="20" height="20" alt="">
                                        <div class="d-flex flex-column align-items-start ml-1">
                                            <span class="title">{{campaignactions.action_name}}</span>                                            
                                        </div>
                                    </div>
                                    <div>
                                        <span class="action-check">+1</span>                                    
                                    </div>                            
                                </div>
                            </a>
                            {%elif campaignactions.action_name.name == 'フォロー' %}
                            <a href="https://twitter.com/{{campaignactions.screen_name}}" target="_blank">
                                <div class="btn btn-square c-twitter d-flex justify-content-between align-items-center">                                    
                                    <div class="title-wrapper d-flex align-items-center">
                                        <img src="{%static 'images/twitter1.png'%}" width="20" height="20" alt="">
                                        <div class="d-flex flex-column align-items-start ml-1">
                                            <span class="title">{{campaignactions.action_name}}</span>
                                            <span class="target fs-13">@{{campaignactions.screen_name}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="action-check">+1</span>                                    
                                    </div>                            
                                </div>
                            </a>
                        </div>                    
                    </div>
                    {%endif%}                        
                    {%endif%}
                    {%endwith%}
                    </li>
                    <li>
                        <p>動画視聴</p> 
                    </li>
                    </ul>
                </div>
                
            </div>
            <div class="gifts py-3 px-16 py-30">
                <label>当選ギフト</label>
                {%with campaign|get_digitalgift_by_campaign as digitalgift%}
                {%if digitalgift%}
                <div class="gift d-flex gap-2 align-items-start">
                    <img src="{%if digitalgift.image%}{{digitalgift.image.url}}{%else%}{%static 'images/gifts/code.png'%}{%endif%}" width="60" height="60" class="gift-icon">
                    <div class="content">
                        <p class="name fs-14 fw-bold mb-0">{{digitalgift.title}}({{digitalgift.codetype}})</p>
                        <p class="number fs-13 fc-9b">当選者数:{{digitalgift.candidate_num}}名様</p>
                    </div>
                </div>    
                {%endif%}            
                {%endwith%}
            </div>
            
        
            {%with campaign|get_action_by_campaign as campaignactions%}
            {%if campaignactions %}
            <div class="pocker-draw px-16 py-30">
            {%if applied %}
            <button type="button" class="btn c-red btn-square pop-up-trigger" onclick="applicant(this);" data-id="{{campaign.id}}" data-action="{{campaignactions.id}}" disabled>
                <span class="content-wrapper">
                    抽選した
                </span>
            </button>
            {%else%}
            <button type="button" class="btn c-red btn-square pop-up-trigger" onclick="applicant(this);" data-id="{{campaign.id}}" data-action="{{campaignactions.id}}">
                <span class="content-wrapper">
                    抽選する
                </span>
            </button>
            {%endif%}
            </div>
            {%endif%}
            {%endwith%}
            <div class="pocker-entry px-16 py-30">
                <div class="entry-title">
                    <b>エントリーフォーム</b>
                    <div class="entry-subtitle">1エントリーごとに1回抽選できます</div>
                </div>
            </div>
            <div class="tos text-center fs-10 my-4">
                上のボタンをタップすると、<a href="/legal/">利用規約</a>・<a href="/legal/">プライバシーポリシー</a>・キャンペーン規約に同意したことになります。
            </div>
            <div class="login-bar-wrapper">
                <div class="login-bar d-flex justify-content-center align-items-center">
                    {% if request.user.is_authenticated %}
                    <div class="login-title mr-1"><span>{{request.user.username}}</span></div>
                    <div class="login-methods">
                        <div class="login-method">                                
                            <img src="{%static 'images/twitter1.png'%}" class="ml-1">  
                            <a href="{%url 'accounts:profile'%}" class="unauth"><span class="fs-10">設定変更</span></a>
                            <a href="{%url 'accounts:account_logout'%}" class="unauth"><span class="fs-10">ログアウト</span></a>                             
                        </div>
                    </div>
                    {%else%}                        
                    <div class="login-methods">
                        <div class="login-method">
                            <a href="{%url 'accounts:twitter_login'%}" class="unauth">ログイン
                                <img src="{%static 'images/twitter1.png'%}" class="ml-1">
                            </a>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
            
        </div>
    
        <div class="campaign-term">
            <div class="term-trigger text-center py-2 fs-16 fw-bold">キャンペーン規約</div>
            <div id="terms-wrapper">
                <p>本キャンペーン (以下、「キャンペーン」といいます。)への応募を希望される方は、この応募規約(以下、「本規約」といいます。)をお読みの上、同意された場合に応募ください。なお、キャンペーンに応募された方は、本規約に同意したものとみなします。
                    [応募資格]
                    ・日本国内在住の方
                    ・15歳未満のお客様は、保護者の同意を得るか保護者と一緒に規約をお読みの上、規約に同意ください。15歳未満のお客様からの同意は、すべて保護者の同意を得たものとみなします。
                    [応募方法]
                    ・キャンペーンに付随するアクションを実行し、エントリーすること。
                    [抽選・結果発表]
                    ・抽選の上、当選者が決定されます。
                    ・当選者には、サイト上の当選ボックスにデジタルギフトが発送されます。
                    ・当選ギフトが賞品の場合、主催者から賞品が発送されます（当選者は期限までにお届け先を入力する必要あり）。
                    ・発送日程等のご希望にはお答えできません。
                    [賞品について]
                    ・賞品の種別等は選ぶことはできません。
                    ・賞品の変更はできません。
                    [応募・当選の無効］
                    以下の事項に該当するアカウントの応募は、無効とさせていただく場合があります。
                    ・自動プログラムを利用しての応募
                    ・複数のアカウントからの応募
                    ・第三者のメールアドレス、名前、アカウント情報、その他の個人情報等を不正に利用した応募
                    [禁止事項]
                    ・本規約に違反する行為
                    ・キャンペーンの運営を妨げる行為
                    ・キャンペーンに関する情報・投稿内容・データ等を商用利用する行為
                    ・著作権、知的財産権、肖像権を侵害する行為
                    ・その他、主催者が不適切だと判断した行為
                    [免責]
                    以下のキャンペーンに関連して生じた応募者の損害については、一切の責任を負わないものとします。
                    ・ソフトウェア、ハードウェア上の事故、火災、停電、地震、通信環境の悪化による事象
                    ・第三者によるサービスの妨害、情報改変などによりサービスが中断及び遅延し、欠陥が生じた場合
                    ・Amazon、Facebook・Meta・Instagram・LINE・TikTok・Twitter・YouTube等の外部サービスの運用停止、中断、その他の不具合が発生した場合
                    ・キャンペーンからリンクしている他のウェブサイト、サービスによる不具合
                    ・応募者間または応募者と第三者の間におけるトラブル
                    [個人情報の取扱いについて]
                    個人情報等は、別途定めるプライバシーポリシーに従い適切に取扱うものとします。
                    ・ご登録いただいた情報は、賞品の発送の為に利用いたします。
                    ・応募者の同意なしに、キャンペーン主催者以外の第三者に開示、提供することはありません。
                    [その他]
                    ・当キャンペーンは、Amazon、Facebook・Meta・Instagram・LINE・TikTok・Twitter・YouTubeとは一切関係ありません。
                    ・Amazon、Amazon.co.jpおよびそれらのロゴはAmazon.com, Inc. またはその関連会社の商標です。
                    ・必要と判断した場合には、事前に予告することなく、規約が変更される場合があります。
                    ・キャンペーンは、事前に予告することなく内容の変更がされる場合があります。
                    ・キャンペーンは、事前に通知することなく、終了・中止する場合があります。
                    ・応募に関わる通信料及び接続費などの諸経費は、応募される方の負担となります。
                    ・機種、OS、ブラウザ等の理由により、一部のPC、スマートフォン、タブレット等で、応募できない場合もございます。
                    ・Amazon、Facebook・Meta・Instagram・LINE・TikTok・Twitter・YouTube等の外部サービスのご利用方法については、各サービスにお問い合わせください。
                    
                    [キャンペーン主催]
                    株式会社ショクブン
                    
                    info@shokubun.shop</p>
                    <button class="terms-close-btn">閉じる</button>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
{% block extra_js %}

<script type="text/javascript">
    const selectorAll = e =>  document.querySelectorAll( e);
    const selector = e => document.querySelector(e);

    const termTriggerBtn = selector('.term-trigger');
    const termCloseBtn = selector('.terms-close-btn');

    const tl = gsap.timeline();

    termTriggerBtn.addEventListener("click", function(){
        
        tl
        .to( "#terms-wrapper", {
            opacity: 1,
            height: "auto",
            duration: 0.3,
            display: "block"
        } )
        .to("#terms-wrapper p",{
            opacity: 1,
            height: "auto",
            duration: 0.3,
            display: "block"
        })
        .to(termCloseBtn, {
            opacity: 1,
            height: "auto",
            duration: 0.3,
            display: "block"
        })

        
    })

    termCloseBtn.addEventListener( "click", function(){
        tl
        .to( "#terms-wrapper", {
            opacity: 0,
            height: 0,
            duration: 0.3,
            display: "none"
        } )
        .to("#terms-wrapper p",{
            opacity: 0,
            height: 0,
            duration: 0.3,
            display: "none"
        })
        .to(termCloseBtn, {
            opacity: 0,
            height: 0,
            duration: 0.3,
            display: "none"
        })
    } )

    const triggers = document.querySelectorAll('.trigger');

    triggers.forEach( tr => {
        const element = tr.getAttribute('data-element');

        let open = false;

        tr.addEventListener( 'click', (e)=>{
            e.preventDefault();

            //e.target.parentNode.querySelector('.arrow').classList.toggle("rotate");

            if( !open ){

                gsap.to( `#${element}`, {
                    opacity: 1,
                    height: 'auto',
                    duration: 0.5
                } )

                open = true;

            }else{

                gsap.to( `#${element}`, {
                    opacity: 0,
                    height: 0,
                    duration: 0.5
                } )

                open = false;

            }

        } )

    } )

    const popupTriggers = document.querySelectorAll('.pop-up-trigger');
    const popups = document.querySelectorAll(".pop-up");

    popupTriggers.forEach( trigger => {
        trigger.addEventListener('click', function(){
            const popup = this.getAttribute('data-target');

            popups.forEach( el => {
                if( el.classList.contains(popup) ){
                    el.classList.add('show');
                    el.querySelector('.close').addEventListener( 'click', ()=>{
                        el.classList.remove('show');
                    } )
                }
            } )

        })
    } )
</script>

<script type="text/javascript">
    let applicant = button =>{
        var campaign_id = button.getAttribute('data-id');
        var campaign_action = button.getAttribute('data-action');
        console.log(campaign_id); 
        if(campaign_id == ''){
            alert("キャンペーンが存在しません！")
        }else{
            $.ajax({
                url : '{% url 'dashboard:applicant' %}',
                data:{
                    campaign_id: campaign_id,   
                    campaign_action:campaign_action,                 
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                type:'POST',
                success:function(data){
                    console.log(data.status);         
                    //window.location.replace("/campaign/"+campaign_id+'/');
                    if(data.status=='login'){
                        window.location.replace("/accounts/twitter_login/?next=/applicant/?campaign_id="+campaign_id);
                    }else if(data.status=='twitter'){
                        console.log(data.status);
                        window.location.replace("/accounts/twitter_login/?next=/applicant/?campaign_id="+campaign_id);
                    }
                }
            });
        }
    }
</script>  
{% endblock %}
