{% extends "base.html" %}
{% load static %}
{% block content %}      
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <a href="/dashboard/" class="btn btn-info btn-sm">閉じる</a>
                <h4 class="page-title">キャンペーン作成</h4>
                <button type="button" class="btn btn-primary btn-sm" onclick="campaign_save();">保存</button>
            
            </div>
        </div>
    </div>     
    <!-- end page title -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">                    
                    
                    <div id="basicwizard">

                        <ul class="nav nav-pills nav-justified form-wizard-header mb-4">
                            <li class="nav-item">
                                <a href="#basictab1" data-toggle="tab" class="nav-link"> 
                                    <span class="number">1</span>
                                    <span class="d-none d-sm-inline">基本情報</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#basictab2" data-toggle="tab" class="nav-link">
                                    <span class="number">2</span>
                                    <span class="d-none d-sm-inline">クリエイティブ</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#basictab3" data-toggle="tab" class="nav-link">
                                    <span class="number">3</span>
                                    <span class="d-none d-sm-inline">公開期間</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#basictab4" data-toggle="tab" class="nav-link">
                                    <span class="number">4</span>
                                    <span class="d-none d-sm-inline">アクション</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#basictab5" data-toggle="tab" class="nav-link">
                                    <span class="number">5</span>
                                    <span class="d-none d-sm-inline">ギフト</span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content b-0 mb-0">
                            <div class="tab-pane" id="basictab1">
                                <div class="row">
                                    <div class="col-12">
                                        <form class="needs-validation was-validated">
                                            {% csrf_token %}
                                            <div class="form-group row mb-3">
                                                <label class="col-md-3 col-form-label" for="userName">タイトル<span class="required-mark">必須</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="basic_title" name="basic_title" required>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-md-3 col-form-label" for="password">詳細</label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control" id="basic_context" name="basic_context" required></textarea>
                                                </div>
                                            </div>
                                        </form>
                                        
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>

                            <div class="tab-pane" id="basictab2">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="header-title">クリエイティブ<span class="required-mark">必須</span></h4>
                                                <ul class="sub-header">
                                                    <li>画像を複数枚設定（プランによって枚数は異なる）できます。</li>
                                                    <li>画像(JPEG/GIF/PNG)、またはYoutube形式のファイルを設定してください。</li>
                                                    <li>メイン画像はキャンペーンのOGPにも設定されます。キャンペーン内容やギフトがわかりやすい画像を設定しましょう。</li>
                                                </ul>
                                                <div class="creative-images">
                                                    <h4 class="header-title">キャンペーンクリエイティブ</h4>
                                                    <div class="creative-image">
                                                        <div class="image-cropper image-cropper-row">
                                                            <fieldset class="image-input-fieldset">
                                                                <label class="image" style="border-radius: 14px; width: 100%;">
                                                                    <input name="file" type="file" id="creative_img" multiple accept="image/*"/>
                                                                    <img src="" class="img-fluid img-preview" id="creative_img_preview" style="border-radius: 14px; width: 100%;">
                                                                    <div class="no-image" id="creative-no-image">
                                                                        <div class="wrapper" style="border-radius: 14px; width: 100%; padding-top: 53%;">
                                                                            <div class="inner">
                                                                                <img src="https://storage.googleapis.com/booster-jp/img/icons/upload-texture.svg">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                                <div class="parts">                                                                    
                                                                    <div class="recommend">
                                                                        <small>推奨サイズ: 縦630px 横1200px<br>
                                                                            推奨比率 : 縦21 横40
                                                                        </small>
                                                                    </div>                                                                    
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </div>                                           
                                        </div>
                                        
                                    </div> <!-- end col -->
                                </div> <!-- end row -->                                
                            </div>

                            <div class="tab-pane" id="basictab3">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="publish_date">公開日時</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="text" class="form-control" name="publish_date" id="publish_date">
                                                    <input type="time" name="publish_date_time" value="12:00" id="publish_date_time">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="mb-3">
                                            <div class="form-group">
                                                <label for="end_date">終了日時</label>
                                                <div class="d-flex justify-content-between">
                                                    <input type="text" class="form-control" name="end_date" id="end_date">
                                                    <input type="time" name="end_date_time" value="12:00" id="end_date_time">  
                                                </div>                                                  
                                            </div>
                                        </div>                                            
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>

                            <div class="tab-pane" id="basictab4">
                                <div class="row">
                                    <div class="col-12">                                                                                    
                                        <h3 class="mt-0">アクション</h3>
                                        <p>キャンペーンの参加条件を設定してください<br>設定したアクションをクリアしたユーザーが応募できます</p>
                                        <div class="mb-3">
                                            <ul class="actions-pool" id="action-list">                                                
                                                
                                            </ul>
                                        </div>
                                        <h3 class="mb-3">アクション一覧</h3>
                                        <div class="mb-3">
                                            <ul class="actions-pool">
                                                {% for obj in twitter_actions %}
                                                <li>
                                                    <div class="action-item">
                                                        <div class="action-icon">
                                                            <img src="{% static 'images/twitter.png'%}">
                                                        </div>
                                                        <div class="action-label-description">
                                                            <input type="hidden" value="{{obj.id}}" id="twitter_action_id">
                                                            <span class="action-label">{{obj.name}}</span>
                                                            <span class="action-description">{{obj.description}}</span>
                                                        </div>
                                                        <button type="button" data-toggle="modal" data-target="#action_add_{{obj.id}}"  class="btn btn-action-add btn-light">追加</button>
                                                        <!-- Modal -->
                                                        <div id="action_add_{{obj.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="action_addModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title">{{obj.name}}</h4>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                    </div>
                                                                    <div class="modal-body">                                                                                                                                  
                                                                        <div class="form-group">
                                                                            {%if obj.action_id == 1 %}
                                                                            <label class="col-md-6 col-form-label" for="action_target">Twitterユーザ名</label>
                                                                            <input type="text" name="action_target" id="action_target" class="form-control">
                                                                            <small>＠がついているユーザー名を入力してください。</small>
                                                                            {%else%}
                                                                            <label class="col-md-6 col-form-label" for="action_target">ツイートURL</label>
                                                                            <input type="URL" name="action_target" id="action_target" class="form-control">
                                                                            <small>既に投稿済みのツイートURLを入力してください。キャンペーンツイートの予約投稿機能を利用したい場合は、もう一つの「リツイート（予約投稿）」か「フォロー＆リツイート（予約投稿）」を選んでください。</small>
                                                                            {%endif%}
                                                                        </div>                                                                        
                                                                        <div class="form-group">
                                                                            <label class="col-md-6 col-form-label" for="action_entry">エントリー数</label>
                                                                            <input type="number" name="action_entry" id="action_entry" class="form-control" value="1">
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" data-id="{{obj.action_id}}" data-name="{{obj.name}}" onclick="action_add(this);" >決定</button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->
                                                        <!-- Modal -->
                                                    </div>
                                                </li>
                                                {%endfor%}
                                            </ul>
                                        </div>                                            
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>

                            <div class="tab-pane" id="basictab5">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-field-section">                                                
                                            <h3 class="mt-0">ギフト</h3>
                                            <div class="mb-3">
                                                <ul>
                                                    <li>ギフトには、デジタル（URL、コード）、クーポン、賞品を設定することができます</li>
                                                    <li>Booster上でギフトを購入することはできません</li>
                                                    <li>キャンペーン開始前にギフトを用意するようにしてください</li>
                                                </ul>
                                            </div>                                            
                                            <div class="gift-card-group mb-3">
                                                <button type="button" data-toggle="modal" data-target="#multiple-two" class="btn btn-info gift-card-add">ギフトを追加</button>
                                            </div>                                            
                                            <!-- Modal -->
                                            <div id="multiple-two" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-twoModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">ギフトの詳細設定</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h5 class="mt-0">デジタル</h5>
                                                            <div class="form-group">                                                                    
                                                                <input type="file" name="giftimg" id="giftimg" class="" accept="image/*">
                                                                <div>
                                                                <small>推奨サイズ: 縦450px 横</small>
                                                                <small>450px</small>
                                                                <small>推奨比率 : 縦1 横1</small>
                                                                </div>
                                                                <img id="giftimg_preview" src=""/>   
                                                            </div>    
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="gitftname">ギフト名</label>
                                                                <input type="text" name="giftname" id="gitftname" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="giftcode">コードタイプ</label>
                                                                <select name="giftcode" id="giftcode" class="form-control">
                                                                    <option value="テキスト">テキスト</option>
                                                                    <option value="URL">URL</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="giftapplicant">枚数 （当選者数）</label>
                                                                <input type="number" name="giftapplicant" id="giftapplicant" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="gift_receive_limit_date">受取期限</label>
                                                                <input type="text" class="form-control" name="gift_receive_limit_date" id="gift_receive_limit_date">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="gift_effect_start_date">有効期間/開始(任意)</label>
                                                                <div class="d-flex">
                                                                <input type="text" class="form-control" name="gift_effect_start_date" id="gift_effect_start_date">
                                                                <input type="time" name="end_date_time" value="12:00" id="gift_effect_start_date_time">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="gift_effect_end_date">有効期間/終了(任意)</label>
                                                                <div class="d-flex">
                                                                <input type="text" class="form-control" name="gift_effect_end_date" id="gift_effect_end_date">
                                                                <input type="time" name="end_date_time" value="12:00" id="gift_effect_end_date_time">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="gift_detail_url">詳細URL(任意)</label>
                                                                <input type="url" class="form-control" name="gift_detail_url" id="gift_detail_url" placeholder="https://example.com">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="gift_price">ギフト金額(任意)</label>
                                                                <input type="number" class="form-control" name="gift_price" id="gift_price" placeholder="1000" value="0">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-6 col-form-label" for="gift_userterm">利用条件(任意)</label>
                                                                <textarea type="text" class="form-control" name="gift_userterm" id="gift_userterm" placeholder="期間中に利用可能店舗に来店して、この画面を店員に提示してください。（クーポンの場合）"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" onclick="giftadd(this);" >決定</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                                            <!-- Modal -->
                                            </hr>
                                            {% if casttype == '1'%}
                                            <div class="col-6 gift-instant-win">
                                                <h3 class="mt-0">インスタントウィン設定</h3>
                                                <div class="form-group">
                                                    <label>1回の抽選に必要なエントリー数</label>
                                                    <input type="hidden" class="form-control" id="casttype" name="casttype" value="{{casttype}}">
                                                    <input type="number" id="instant-draw-value" class="form-control is-valid" value="1" required>
                                                </div>                                                
                                                <div class="creative-images">
                                                    <label>はずれ画像（任意）</label>
                                                    <div class="creative-image">
                                                        <div class="image-cropper image-cropper-row">
                                                            <fieldset class="image-input-fieldset">
                                                                <label class="image" style="border-radius: 14px; width: 100%;">
                                                                    <input name="file" type="file" id="instant_draw_lose_image" accept="image/*"/>
                                                                    <img src="" class="img-fluid img-preview" id="instant_draw_lose_image_preview" style="border-radius: 14px; width: 100%;">
                                                                    <div class="no-image" id="instance-no-image">
                                                                        <div class="wrapper" style="border-radius: 14px; width: 100%; padding-top: 53%;">
                                                                            <div class="inner">
                                                                                <img src="https://storage.googleapis.com/booster-jp/img/icons/upload-texture.svg">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </label>
                                                                <div class="parts">                                                                    
                                                                    <div class="recommend">
                                                                        <small>推奨サイズ: 縦630px 横1200px<br>
                                                                            推奨比率 : 縦21 横40
                                                                        </small>
                                                                    </div>                                                                    
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>

                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item">
                                    <a href="javascript: void(0);" class="btn btn-secondary">前ページへ</a>
                                </li>
                                <li class="next list-inline-item float-right">
                                    <a href="javascript: void(0);" class="btn btn-secondary">次ページへ</a>
                                </li>
                            </ul>

                        </div> <!-- tab-content -->
                    </div> <!-- end #basicwizard-->
                    

                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>

</div> <!-- container -->

{% endblock content %}
{% block scripts %}
<!-- Plugin js-->
<script src="{% static 'libs/parsleyjs/parsley.min.js' %}"></script>
<!-- Validation init js-->
<script src="{% static 'js/pages/form-validation.init.js '%}"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
<!-- DatePicker関係 -->
<script src="{% static 'js/jquery-ui.min-1.13.2.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/jquery-ui-1.13.2.css' %}">
<script src="{% static 'js/datepicker-ja.js' %}"></script>
<script>
    $("#publish_date").datepicker(
        {
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
        }
    );
    if($('#publish_date').val() == ""){
        $('#publish_date').datepicker(
            "setDate", new Date()
        );
    };
    $("#end_date").datepicker(
        {
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
        }
    );
    if($('#end_date').val() == ""){
        $('#end_date').datepicker(
            "setDate", new Date()
        );
    };

    $('#basic_context').summernote({
        placeholder: 'ここに書いてください。',        
        focus: true,
        disableResizeEditor: false,
        height: '100px'
    });

    $("#gift_receive_limit_date").datepicker(
        {
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
        }
    );
    if($('#gift_receive_limit_date').val() == ""){
        $('#gift_receive_limit_date').datepicker(
            "setDate", new Date()
        );
    };

    $("#gift_effect_start_date").datepicker(
        {
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
        }
    );
    if($('#gift_effect_start_date').val() == ""){
        $('#gift_effect_start_date').datepicker(
            "setDate", new Date()
        );
    };

    $("#gift_effect_end_date").datepicker(
        {
            dateFormat: 'yy-mm-dd',
            changeYear: true,
            changeMonth: true,
        }
    );
    if($('#gift_effect_end_date').val() == ""){
        $('#gift_effect_end_date').datepicker(
            "setDate", new Date()
        );
    };
    
</script>
    
<script>
    var creative_image_file = '';  //クリエイティブ画像ファイル
    var action_list = [];  //Twitterアクションリスト

    function addcreativeImage(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {            
            $('#creative_img_preview').attr('src', e.target.result);
            $("#creative-no-image").css('display','none');
          }
          
          reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }
    if(document.getElementById("creative_img")) {
        document.getElementById("creative_img").addEventListener('change',function() {
            var $this = this;
            creative_image_file = this.files[0];
            addcreativeImage($this)
        },false);
    }
    /*let creative_add = button =>{
        var creative_add = button.getAttribute('data-id');
        let html = `
        <li>
            <div class="col-md-12">
                <input type="file" id="creative_file" name="creative_file" class="form-control">
            </div>
        </li>
        `
        $('.creative-list').append(html);
    }*/


    let action_add = button => {
        
        var action_id = button.getAttribute('data-id');
        var action_name = button.getAttribute('data-name');
        const modal_div = button.parentElement.parentElement;
        var action_target = modal_div.querySelector("#action_target").value;
        var action_entry = modal_div.querySelector("#action_entry").value;

        var action_data = {
            'action_id': action_id,
            'action_target':action_target,
            'action_entry':action_entry
        };
        action_list.push(action_data);
        console.log(action_list);

        $('.modal').modal('hide');
        let html = `
        <li>
            <div class="action-item">
                <div class="action-icon">
                    <img src="{% static 'images/twitter.png'%}">
                </div>
                <div class="action-label-description">
                    <input type="hidden" value="${action_id}" id="twitter_action_id">
                    <span class="action-label">${action_name}</span>
                    <span class="action-description">${action_target}</span>               
                </div>
                <div class="action-tool-buttons">
                    <button type="button" data-id="${action_id}" class="btn icon-btn" onclick="remove_action(this);"><i class="mdi mdi-delete-circle"></i></button>
                </div>             
            </div>
        </li>
        `
        $('#action-list').append(html);
        
    }
    
    let remove_action = button => {
        var action_id = button.getAttribute('data-id');
        const action_item = button.parentElement.parentElement.parentElement;        
        const index = action_list.findIndex(object => {
            return object.action_id === action_id;
        });
        action_list.splice(index, 1);
        action_item.remove();
        console.log(action_list);
    }

    /// Gift Add //
    var gift_data_set = '';  //ギフトデータ
    var global_gift_img_preview = '';   //画像プレビューのための変数
    var instance_missing_img_file = '';  //はずれ画像ファイル
    var gift_image_file = '';  //ギフト画像ファイル
    console.log(gift_data_set);
    function add_win_missing_Image(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {            
            $('#instant_draw_lose_image_preview').attr('src', e.target.result);
            $("#instance-no-image").css('display','none');
          }
          
          reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }
    if(document.getElementById("instant_draw_lose_image")) {
        document.getElementById("instant_draw_lose_image").addEventListener('change',function() {
            var $this = this;
            instance_missing_img_file = this.files[0];
            add_win_missing_Image($this)
        },false);
    }
    giftimg.onchange = evt => {
        const [file] = giftimg.files;
        gift_image_file = giftimg.files[0];
        if (file) {
            giftimg_preview.src = URL.createObjectURL(file);
            global_gift_img_preview = URL.createObjectURL(file)
        }
    };
    let giftadd = button => {
        var gift_type = 'デジタル';
        var gift_name = $("#gitftname").val();
        var gift_code = $("#giftcode").val();
        var giftapplicant = $("#giftapplicant").val();
        var gift_receive_limit_date = $("#gift_receive_limit_date").val();
        var gift_effect_start_date = $("#gift_effect_start_date").val();
        var gift_effect_start_date_time = $("#gift_effect_start_date_time").val();
        var gift_effect_end_date = $("#gift_effect_end_date").val();
        var gift_effect_end_date_time = $("#gift_effect_end_date_time").val();
        var gift_detail_url = $("#gift_detail_url").val();
        var gift_price = $("#gift_price").val();
        var gift_userterm = $("#gift_userterm").val();
        gift_data_set = {
            'gift_name' : gift_name,
            'gift_code': gift_code,
            'giftapplicant': giftapplicant,
            'gift_receive_limit_date': gift_receive_limit_date,
            'gift_effect_start_date': gift_effect_start_date,
            'gift_effect_start_date_time': gift_effect_start_date_time,
            'gift_effect_end_date': gift_effect_end_date,
            'gift_effect_end_date_time': gift_effect_end_date_time,
            'gift_detail_url': gift_detail_url,
            'gift_price': gift_price,
            'gift_userterm': gift_userterm
        }        
        
        $('.modal').modal('hide');
        let html = `
        <div class="gift-card">
            <div class="card-content">
                <div class="content-left">
                    <img src="${global_gift_img_preview}">
                </div>
                <div class="content-right">
                    <div class="right-top">${gift_type}</div>
                    <div class="right-bottom">
                        <div class="right-bottom-left">
                            <div class="right-bottom-left-top">
                                ${gift_name}
                            </div>
                            <div class="right-bottom-left-bottom"></div>
                        </div>
                        <div class="right-bottom-right">
                            <div class="btns">
                                <button type="button" data-toggle="modal" data-target="#multiple-two" class="btn icon-btn"><i class="mdi mdi-pencil-circle"></i></button>
                                <button type="button" class="btn icon-btn" onclick="remove_gift(this);"><i class="mdi mdi-delete-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="card-grab"></div>
        </div>
        `
        $('.gift-card-group').html(html);
        
    }
    let remove_gift = button => {
        const html = `
        <button type="button" data-toggle="modal" data-target="#multiple-two" class="btn btn-info gift-card-add">ギフトを追加</button>
        `
        //$(".gift-card").remove();
        $('.gift-card-group').html(html);
        gift_data_set = '';
        //gift_item.remove();
        console.log(gift_data_set);
    }
</script>

<!-- キャンペーン保存 -->
<script>
    let campaign_save = button => {
        var basic_name = $("#basic_title").val();        
        var casttype = "{{casttype}}";
        var basic_context = $("#basic_context").val();        
        var publish_date = $("#publish_date").val();
        var publish_date_time = $("#publish_date_time").val();
        var end_date = $("#end_date").val();               
        var end_date_time = $("#end_date_time").val();

        var twitter_action_id = '';
        if($("#twitter_action_id").length){
            twitter_action_id = $("#twitter_action_id").val();
        }        
        var instant_draw_value = 0;
        if(casttype == '1'){
            instant_draw_value = $("#instant-draw-value").val();
        }    
        
        var formData = new FormData();
        var csrftoken = "{{ csrf_token }}";        
        formData.append('csrfmiddlewaretoken', csrftoken);
        formData.append('casttype', casttype);
        formData.append('basic_name', basic_name);
        formData.append('basic_context', basic_context);
        formData.append('publish_date', publish_date);
        formData.append('publish_date_time', publish_date_time);
        formData.append('end_date', end_date);
        formData.append('end_date_time', end_date_time);
        var json_action_list = JSON.stringify(action_list);
        formData.append('action_list', json_action_list);
        var json_gift_data_set = JSON.stringify(gift_data_set);
        formData.append('gift_data_set', json_gift_data_set);        
        formData.append('instant_draw_value', instant_draw_value);
        if(creative_image_file != ''){
            formData.append('creative_image_file', creative_image_file);
        }
        if(instance_missing_img_file != ''){
            formData.append('instance_missing_img_file', instance_missing_img_file);
        }
        if(gift_image_file != ''){
            formData.append('gift_image_file', gift_image_file);
        }
        console.log(formData);

        $.ajax({
            url : '{% url 'dashboard:campaign-create' %}',
            data:formData,
            type:'POST',
            contentType: false,
            processData: false,
            success:function(data){                
                if(data.status == 'failed'){
                    alert("終了日付入力が無効です。");
                }else if(data.status == 'campaign_action'){
                    alert("アクション追加でエラー発生！");
                }
                else{
                    console.log(data.status);
                    window.location.replace("/dashboard/");
                }
            }
        });

    }
</script>
{% endblock %}