{% extends "base.html" %}
{% load sys_template %}
{% load static %}
{% block content %}      
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">マイキャンペーン</h4>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#create-modal">新しいキャンペーンを作成</button>
                <!-- Modal -->
                <div id="create-modal" class="modal fade create-modal" tabindex="-1" role="dialog" aria-labelledby="create-modalModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/dashboard/campaign-create/">
                            <div class="modal-header">
                                <h4 class="modal-title" id="multiple-oneModalLabel">抽選方式を選択してください。</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body card-wrapper" method="GET">
                                
                                <div class="type-card selected">
                                    <h5 class="mt-0">インスタントウィン</h5>
                                    <input type="radio" name="casttype" class="form-control" value="1" checked>
                                    <p>その場ですぐに当選結果が分かる、自動抽選方式です。</p>
                                    <p>当選人数が少ない場合（10名以下）や商品をギフトに設定したい場合にオススメです。</p>
                                </div>
                                <div class="type-card">
                                    <h5 class="mt-0">後日抽選</h5>
                                    <input type="radio" name="casttype" class="form-control" value="2">
                                    <p>キャンペーン終了後、応募者一覧からランダム又は手動で当選者を抽選する、一般的な抽選方式です。</p>
                                    <p>当選人数が少ない場合（10名以下）や商品をギフトに設定したい場合にオススメです。</p>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">作成画面へ</button>
                            </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
            </div>
        </div>
    </div>     
    <!-- end page title -->

    <!-- マイキャンペーン -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">                    
                    <a href="/dashboard/" class="btn {% if request.session.status == '' %}btn-info{%else%}btn-light{%endif%} btn-sm">すべて</a>
                    <a href="/dashboard/?status=draft" class="btn {% if request.session.status == 'draft' %}btn-info{%else%}btn-light{%endif%} waves-effect btn-sm">下書き</a>
                    <a href="/dashboard/?status=ready" class="btn {% if request.session.status == 'ready' %}btn-info{%else%}btn-light{%endif%} waves-effect btn-sm">公開待ち</a>
                    <a href="/dashboard/?status=published" class="btn {% if request.session.status == 'published' %}btn-info{%else%}btn-light{%endif%} waves-effect btn-sm">公開中</a>
                    <a href="/dashboard/?status=closed" class="btn {% if request.session.status == 'closed' %}btn-info{%else%}btn-light{%endif%} waves-effect btn-sm">終了</a>                    
                </div>
                <div class="card-body userlist">
                    <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100 my-campaigns-table" cellspacing="0" id="basic-datatable">
                        <thead class="bg-light">
                        <tr>
                            <th class="font-weight-medium">キャンペーン</th>
                            <th class="font-weight-medium">ステータス</th>
                            <th class="font-weight-medium">投稿日時</th>
                            <th class="font-weight-medium">公開期間</th>
                        </tr>
                        </thead>

                        <tbody class="font-14">                            
                            {%for obj in object_list%}
                            <tr class="hover">                               
                                <td class="d-flex align-items-center">
                                    <div class="campaign-img-wrapper">
                                        <a href="{%url 'dashboard:campaign-detail' pk=obj.id %}">
                                        {% with obj|get_creative_img as img %}
                                        {%if img %}
                                        <img class="campaign-img" src="{{img.url}}">
                                        {%else%}
                                        <img class="campaign-img" src="{% static 'images/upload-texture.svg' %}">
                                        {%endif%}
                                        {% endwith %}
                                        </a>
                                    </div>
                                    <div class="title-wrapper"><a href="{%url 'dashboard:campaign-detail' pk=obj.id %}">{{obj.title}}</a></div>
                                </td>
                                <td>{{obj|check_status_campaign}}</td>
                                <td>{{obj.sdate|date:"Y年m月d日"}}</td>
                                <td>{{obj.edate|date:"Y年m月d日"}}まで</td>                                                               
                            </tr>
                            {%endfor%}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END マイキャンペーン -->

</div> <!-- container -->

{% endblock content %}
{% block scripts %}
<script>
    $.fn.dataTable.moment( 'ddd, DD MMM, YYYY' );
    $('div.userlist table.table').dataTable(
        {
            "scrollX": true,
            "scrollY": "700px",
            "scrollCollapse": true,
            "paging":         true,
            bAutoWidth: false,                
            
            "language":{
                "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Japanese.json"
            }
        }
    );
    
    
</script>
{% endblock %}