{% extends "base_1.html" %}
{% load static %}
{% block content %}
<!-- page starts -->
<div class="container">
    <div class="legal-wrapper">
        <h2 class="title my-4">特定商取引法に基づく表記</h2>
        <div class="legal-content-wrapper">
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">販売サイト</h2>
                <p class="fs-14">マイキャン</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">サイトURL</h2>
                <p class="fs-14">http://mycamlp.s3-website-ap-northeast-1.amazonaws.com</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">事業者名</h2>
                <p class="fs-14">合同会社レットイットライド</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">代表社員</h2>
                <p class="fs-14">川尻晃平</p>
            </div>
            <div class="mb-2">
                <small>contact@let-it-ride-japan.com</small>
                <h2 class="fs-18 fw-bold">連絡先</h2>
                <p class="fs-14">※上記以外の省略した事項に関しましては、連絡先メールアドレス宛てにご請求いただければ遅滞なく開示いたします。</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">料金</h2>
                <p class="fs-14">各商品ページならびにサービス案内ページをご参照ください。</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">送料</h2>
                <p class="fs-14">WEBサービスによる提供のため、送料はかかりません。</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">サービスの対価以外でお客様に発生する金銭</h2>
                <p class="fs-14">・消費税（表示価格は税込価格です）<br>
                ・ご利用の際に必要となる通信料はお客様のご負担となります。</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">申込有効期限</h2>
                <p class="fs-14">申し込みの有効期限は特にありませんが、予告なく販売を停止する場合があります。
                    その場合は品切れと同等の扱いとなります。</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">支払い時期・支払い方法</h2>
                <p class="fs-14">お支払い方法はサイト内に表示する方法となります。
                    ご利用いただけるクレジットカードは、クレジットカード登録画面において指定するクレジットカードとなります。<br>
                    クレジットカードをご利用の場合、ご利用料金は、契約締結時にお客様がご利用のクレジットカード会社宛に請求いたします。<br>
                    なお、お客様のお支払いの時期は、お客様とクレジットカード会社との会員規約に基づきます。
                    </p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">商品の引き渡し時期</h2>
                <p class="fs-14">サイト内に表示する方法によるお支払方法の手続きが完了し次第、すぐにご利用いただけます。
                    </p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">返品・交換・キャンセル等</h2>
                <p class="fs-14">サービスの性質上、返品・返金・交換はお受けしていません。
                    </p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">ソフトウェアを使用するための動作環境</h2>
                <p class="fs-14">Windows 7 / 8.1 / 10</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">【PC】 推奨OS </h2>
                <p class="fs-14">MacOSX 10.9 以上</p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">推奨ブラウザ</h2>
                <p class="fs-14">Internet Explorer（最新版）
                    Edge（最新版）
                    Chrome（最新版）
                    Firefox（最新版）
                    Safari（最新版）
                    </p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">【スマートフォン・タブレット】 推奨OS </h2>
                <p class="fs-14">iOS 11.0以降
                    Android OS 5.0以降                
                    </p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">推奨ブラウザ </h2>
                <p class="fs-14">Safari （最新版）
                    Android：Chrome （最新版）<br>
                    ※ 一部端末については、表示や動作に制約がある場合がございますのでご了承ください。<br>
                    ※ 推奨動作環境であっても、ブラウザのセキュリティ設定やセキュリティソフトのご利用状況によって、当社サービスをご利用いただけない場合があります。
                                  
                    </p>
            </div>
            <div class="mb-2">
                <h2 class="fs-18 fw-bold">表現、及び商品に関する注意書き </h2>
                <p class="fs-14">
                    ・本サービスには、特定商取引法に規定されるクーリング<br>
                    ・オフ制度は適用されません<br>
                    ・本サービスに示された表現や再現性には個人差があり、必ずしも利益や効果を保証したものではございません<br>
                    ・本サービスを利用することでユーザーが被った損害について、一切賠償の責任を負いません</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
