*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #4270EC;
    --red: #F15A2B;
    --sky: #F4F9FF;
    --twitter-color: #1da1f2;
    --facebook-color: #3b5998;
    --line-color: #3ace01;
}

body{
    color: #000;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}

img{
    max-width: 100%;
}

img.rotate{
    transform: rotate(180deg);
}

h1.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 70px;
}

p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

section{
    margin-top: 150px;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 99999;
}

.opacity-0{
    opacity: 0;
    height: 0;
}

.text-dark{
    color: black !important;
}

.btn{
    min-width: 163px;
    height: 50px;
    box-shadow: 0px 14px 29px rgba(66, 112, 236, 0.38);
    border-radius: 50px;
    color: #fff;
    border-width: 2px;
    border-style: solid;
}

.btn:hover{
    color: #fff;
}

.btn:focus{
    outline: none;
    color: #fff;
}

.btn:focus-visible{
    outline: none;
}

.btn.c-blue{
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn.c-blue:hover{
    background-color: #fff;
    border-color: var(--blue);
    color: var(--blue);
}

.btn.c-red{
    background-color: var(--red);
    border-color: var(--red);
}

.btn.c-red:hover{
    background-color: #fff;
    border-color: var(--red);
    color: var(--red);
}

.btn.c-sky{
    background-color: var(--twitter-color);
}

.btn.c-white{
    background-color: #fff;
    color: #000;
}

.btn.c-twitter{
    background-color: var(--twitter-color);
}

.btn.c-yellow{
    background-color: rgb(250, 200, 0);
}

.bg-transparent{
    background-color: transparent;
}

.bg-sky{
    background-color: var(--sky);
}

.bg-blue{
    background-color: var(--blue);
}

.bg-grey{
    background-color:#fafafa;
}
.bg-red {
    background-color: #F15A2B;
}
.box{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container.about{
    max-width: 960px;
}

.corner-left-round{
    border-top-left-radius: 150px;
}

.corner-right-round{
    border-top-right-radius: 150px;
}

.bg-sky-left-gred{
    background-image: linear-gradient(90deg, transparent 50%, var(--sky) 50%);
}

.bg-sky-right-gred{
    background-image: linear-gradient(90deg, var(--sky) 50%, transparent 50%);
}

.glitter-0{
    --bs-gutter-x: 0rem;
}

.fc-9b{
    color: #9b9b9b;
}

.fc-blue{
    color: var(--blue);
}

.fc-white{
    color: #fff;
}

.ml-1{
    margin-left: 10px; 
}

.mb-3{
    margin-bottom: 30px;
}

.mb-4{
    margin-bottom: 40px;
}

.mt-8{
    margin-top: 80px;
}
.mr-3{
    margin-right: 30px;
}
.p-16{
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.ptb-6{
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb-8{
    padding-bottom: 80px;
    padding-top: 80px;
}

.pt-20{
    padding-top: 20.313%;
}

.px-16{
    padding-left: 16px;
    padding-right: 16px;
}

.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.py-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.s-min-h-25{
    min-height: 250px;
}

.border {
    border: 1px solid #e9e9e9 !important;
}

.border-right{
    border-right: 1px solid #e9e9e9 !important;
}

.border-0{
    border: none !important;
}

.border-top-0{
    border-top: none !important;
}

.border-l-0{
    border-left: 0 !important;
} 

.border-r-0{
    border-right: 0 !important;
}

.radius-tlr-10{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.radius-blr-10{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.overflow-hidden{
    overflow: hidden;
}

.parent-floating{
    position: relative;
}

.floating{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 111;
}

.rounded-circle{
    border-radius: 50% !important;
    overflow: hidden;
    object-fit: cover;
}

.lists{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.lists .list-item{
    margin: 0 8px;
}

.lists .list-item .list-fig{
    width: 30px;
    height: 30px;
}

.fs-10{
    font-size: 10px;
}

.fs-12{
    font-size: 12px;
}

.fs-13{
    font-size: 13px;
}

.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}

.fs-18{
    font-size: 18px;
}

.fs-20{
    font-size: 20px;
}

.fw-bold{
    font-weight: bold;
}

.divider{
    background-color: #e9e9e9;
    width: 1px;
    height: 40px;
}

.shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.d-grid{
    display: grid;
}

.gc-2{
    grid-template-columns: 1fr 1fr;
}

.gap-2{
    gap: 20px;
}

.label{
    color: #9b9b9b;
}

.btn-square{
    cursor: pointer;
    width: 100%;
    border-radius: 0.25rem!important;
    box-shadow: none;
}

.btn-default, .btn-default:hover{
    color: rgb(15, 29, 40);
    background-color: rgb(242, 245, 249);
    text-decoration: none;
    font-size: 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    padding: 0px 12px;
    border-radius: 6px;
    margin: 4px;
    width: auto;
}

.max-width-700{
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ul-nutral{
    list-style: none;
    padding-bottom: 0;
}

.campaign-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;
    margin-bottom: 105px;
}

/* Header starts */

header{
    background-color: #fff;
}

/* Hero section starts */
.hero--subtitle{
    font-family: 'Pridi';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
}

/* Follow MyCam */
#follow-mycam .content, #what-is-mycam .content{
    max-width: 445px;
}

#follow-mycam .content .title, #what-is-mycam .content .title{
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;

}

/* price starts */
.price-page{
    max-width: 800px;
}
.color-white{
    color: #fff;
}
#price .boxes{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    position: relative;
}

#price .boxes .floating-img{
    position: absolute;
    left: 0%;
    bottom: -30px;
    transform: translateX(-80%);
    z-index: -1;
}

#price{
    position: relative;
}
.btn.c-blue {
    background-color: var(--blue);
    border-color: var(--blue);
}
.btn.c-red {
    background-color: var(--red);
    border-color: var(--red);
}
.btn.c-red:hover {
    background-color: #fff;
    border-color: var(--red);
    color: var(--red);
}
.btn.c-blue:hover {
    background-color: #fff;
    border-color: var(--blue);
    color: var(--blue);
}

#price .dafloating{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#price .price-title{
    background: #FFF5DB;
    border: 1px solid #000000;
    border-top-left-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 178px;
}

.price-box{
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 50px 0px #0000000D;
    padding: 50px;
    width: 50%;
    row-gap: 40px;
    max-width: 350px;
}

/* Case study starts */
#case-study .container{
    background-color: var(--blue);
    border-radius: 30px;
    padding: 30px 70px;
}

#case-study .video{
    position: relative;
}

#case-study .video .floating-img{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
}

.video-ifram{
    width: 100%;
    border-radius: 30px;
}

/* FAQs section starts */
#faq{
    background-color: #F4F9FF;
}

.faqs .faq{
    border-radius: 20px;
    border-color: #F2F2F2;
    background-color: #fff;
    box-shadow: 0px 10px 50px 0px #0000000D;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.faqs .faq .faq-body .faq-body-count{
    background: #F1F7FF;
    border-radius: 10px;
    width: 82px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 0;
}

.faqs .faq .faq-body .faq-body-title{
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #757575;
}

.faqs .faq .faq-control img{
    cursor: pointer;
}

.faqs .faq .faq-details{
    width: 100%;
    padding-left: 100px;
    margin-bottom: 0;
}

/* Feature starts */

#feature .feature{
    max-width: 295px;
}

#feature .feature-count{
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#feature .title{
    position: relative;
}

#feature .feature-floating-img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#feature .feature-img{
    width: 100%;
}

/* Nav starts */
.nav .nav-item .nav-link{
    color: #000;
}

/* Booster page starts */
.page-header-wrap .profile-header{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.user-info{
    margin-top: -100px;
    z-index: 999;
    position: relative;
}

.user-info .profile-img{
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 14%);
}

.user-info .user-name h2{
    color: #262626;
    padding: 16px 10px 10px;
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.user-link a{
    font-size: 14px;
    color: #9b9b9b!important;
}

.user-info .user-status{
    background-color: #f7f8fc;
    border-radius: 14px;
}

.user-info .user-status .number{
    padding: 10px 0;
    width: 180px;
}

label{
    font-size: 12px;
    color: #9b9b9b;
    font-weight: 700;
}

.page-booster .campaigns{
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.campaigns{
    width: 100%;
}

.campaign-item{
    display: inline-block;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    border-radius: 10px 10px 16px 16px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    height: auto;
}

.campaign-item .campaign-img{
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.campaign-item .campaign-status-badge-wrapper{
    position: absolute;
    top: 16px;
    left: 16px;
}

.campaign-status-badge{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #393f48;
    color: #fff;
}

.tap-bar{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 70px;
    border-bottom: 3px solid #e9e9e9;
}

.tab{
    border: none;
    padding: 4px 16px 10px;
    margin: 0 10px;
    margin-bottom: -3px;
    font-size: 16px;
    color: #9b9b9b;
}

.tab.active{
    color: #262626;
    font-weight: bold;
    border-bottom: 3px solid #262626;
}

.campaign .card{
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    border: none;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 10%);
    border-radius: 16px;
    overflow: hidden;
}

.campaign .card .owner-icon{
    width: 34px;
    height: 34px;
    border-radius: 34px;
    margin-right: 6px;
}

.campaign .card .owner-brand{
    font-weight: 500;
    font-size: 13px;
    color: #676767;
}

.campaign .card .entry-btn{
    background-color: rgb(225, 48, 108);
    color: rgb(255, 255, 255);
    --opacity-hover: 0.6;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    margin-top: 20px;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    border-radius: 60px;
    width: 100%;
    text-decoration: none;
}

.campaign .card .entry-btn:hover{
    text-decoration: none;
    opacity: var(--opacity-hover);
}

.campaign .card .tos{
    color: #676767;
}

.campaign .login-bar-wrapper{
    background: #fafafa;
    border-top: 1px solid #ebeef0;
    width: 100%;
    padding: 20px 0;
}

.campaign-term{
    box-shadow: 0px 0px 10px 4px rgb(24 39 75 / 10%);
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.campaign-term .term-trigger{
    cursor: pointer;
}

.campaign-term .terms-close-btn{
    margin-top: 16px;
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 16px;
    background: #ebeced;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 60px;
    appearance: none;
    outline: none;
    border: none;
}

.campaign-term #terms-wrapper{
    opacity: 0;
    height: 0;
    display: none;
}

.campaign-term #terms-wrapper p{
    opacity: 0;
    height: 0;
    display: none;
}

.campaign-term #terms-wrapper .terms-close-btn{
    opacity: 0;
    height: 0;
    display: none;
}

/* Legal starts */
.legal-wrapper{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.legal-wrapper .legal-content-wrapper{
    padding: 35px 40px;
    background-color: #f7f8fc;
    border-radius: 4px;
    margin-bottom: 120px;
}

/* Login page */
#login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-page .auth-form{
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-twitter, .btn-twitter:hover{
    background-color: var(--twitter-color);
}

.btn-facebook, .btn-facebook:hover{
    background-color: var(--facebook-color);
}

.btn-google, .btn-google:hover{
    border: 1px solid #b0b0b0;
    color: #484848;
}


.btn-twitter:hover,.btn-facebook:hover{
    color: white;
}

.btn-line, .btn-line:hover{
    background-color: var(--line-color);
}

.or{
    position: relative;
}

.or p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #9b9b9b;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
}

.line{
    width: 100%;
    height: 3px;
    background-color: #e9e9e9;
    margin: 0 auto;
}

.form-group .input{
    width: 100%;
    border: 1px solid #cecfd4;
    color: #262626;
    font-size: 14px;
    height: 50px;
}

.submit a{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    color: #9b9b9b;
    text-align: center;
}

/* Pocker page starts */
.pocker-wrapper{
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
    width: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 60px;
}

.pocker-wrapper .pocker-body .gifts .gift .gift-icon{
    border-radius: 6px;
}

.pocker-wrapper .pocker-body .gifts label {
    font-size: 16px;
    color: #262626;
    font-weight: 500;
    margin: 0 0 6px;
}

.pocker-wrapper .pocker-body .pocker-entry{
    border-top: 1px solid #ebeef0;
    border-bottom: 1px solid #ebeef0;
    background-color: #fafafa;
    width: 100%;
    color: #262626;
    font-size: 16px;
    padding: 16px 0;
    margin: 0;
    text-align: center;
    line-height: 1.2;
}

.pocker-wrapper .pocker-body .entry-status .no-entry{
    color: #ea5d6a;
}

/* pop-up starts */
.pop-up .pop-up-header{
    position: relative;
}

.pop-up .pop-up-header .close{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(-50%,-50%);
}

.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    display: none !important;
}

.pop-up .pop-up-wrapper{
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.close{
    cursor: pointer;
}

/* about starts */

.about-title::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 40px;
    background-color: rgb(23, 105, 226);
    margin-right: 16px;
    border-radius: 99px;
}

.about-header{
    background-color: var(--blue);
    color: white;
}

.header-wrapper{
    position: relative;
    margin-top: 88px;
    background-color: var(--blue);
}

.about-svg{
    fill: var(--blue);
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
}

/* Home starts */
.home .campaign{
    margin-left: 10px;
    margin-right: 10px;
}

.arrow{
    width: 40px;
    height: 50px;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99999;
}

.arrow-left{
    left: calc( 0% + 20px );
}

.arrow svg{
    width: 100%;
    height: 100%;
}

.arrow-right{
    right: calc( 0% + 20px );
}

.slick-prev, .slick-next{
    display: none !important;
}
.campaing-fig img{
    width: 100%;
    height: 300px;
}
.header-media img{
    width: 100%;
    height: 400px;
}

@media (max-width: 767px) {

    .s-mt-2{
        margin-top: 20px;
    }

    .s-ml-1{
        margin-left: 10px;
    }
    
    .s-mr-1{
        margin-right: 10px;
    }

    .s-ma-1{
        margin-left: 10px;
        margin-right: 10px;
    }

    .s-ma-a{
        margin-left: auto;
        margin-right: auto;
    }

    .s-pa-2{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    section{
        margin-top: 100px;
    }

    .mob-menu{
        display: block;
    }

    header{
        border-bottom: 0.5px solid #D8D8D8;
    }

    header .nav{
        position: absolute;
        right: 0;
        top: 100%;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #fff;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        opacity: 0;
        height: 0;
        z-index: 1111;
    }
    
    .nav li a{
        text-align: right;
    }

    #hero .row{
        display: flex;
        flex-direction: column-reverse;
    }

    #feature .container .d-flex{
        justify-content: center !important;
        row-gap: 20px;
    }

    #feature h1.title{
        font-family: Inter;
        font-size: 26px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
    }

    .corner-left-round{
        margin-left: 10px;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .corner-right-round{
        margin-right: 10px;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #price .boxes{
        padding-right: 20px;
    }

    .boxes .d-flex{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }

    .price-box{
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #case-study .video-ifram{
        height: 332px;
    }

    .faqs .faq{
        display: grid !important;
        grid-template-columns: auto auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .faqs .faq .faq-body .faq-body-count{
        margin-right: 10px;
    }

    .faqs .faq .faq-body .faq-body-title{
        font-size: 14px;
    }

    #follow-mycam .box .row{
        display: flex;
        flex-direction: column-reverse;
    }

    #follow-mycam .content .title, #what-is-mycam .content .title{
        font-size: 16px;
    }

    .footer-menu{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    footer .nav .nav-item .nav-link{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    footer .nav .nav-item:nth-child(1) a{
        padding-left: 0;
    }

    .tap-bar{
        width: 100%;
    }

    .gc-2{
        grid-template-columns: 1fr;
    }

    .legal-wrapper{
        width: 100%;
    }

    .pocker-wrapper{
        width: 100%;
        margin-top: 100px;
    }
    
}

@media (max-width: 600px){
    .campaign-container{
        width: 100%;
    }
}

@media (max-width: 576px){
    .bg-sky-left-gred, .bg-sky-right-gred{
        background-image: none;
    }
    .header-media img{        
        height: 300px;
    }
}